<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Detección de artritis</title>
    <style>
        #loading {
            display: none;
            width: 256px; /* Ajusta el tamaño según sea necesario */
            height: 256px;
        }
    </style>
</head>
<body>
    <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
          <span class="fs-4 px-2 mx-4">Predictor de artritis</span>
        </a>


<script>


    function imageChange() {
        const imageInput = document.getElementById('imageInput');
        const file = imageInput.files[0];
        if (!file) return;

        const imagePreview = document.getElementById('imagePreview');

        // Display the uploaded image
        const imageURL = URL.createObjectURL(file);
        const imageElement = document.createElement('img');
        imageElement.src = imageURL;
        imageElement.style.maxWidth = '100%';
        imageElement.style.maxHeight = '100%';
        imagePreview.innerHTML = '';
        imagePreview.appendChild(imageElement);
    }
    

    function uploadImage() {

        const imageInput = document.getElementById('imageInput');
        const file = imageInput.files[0];
        if (!file) return;

        document.getElementById('imageForm').style.display = 'none';
        document.getElementById('uploadButton').style.display = 'none';
        document.getElementById('loading').style.display = 'block';

        

        const formData = new FormData();
        formData.append('image', file);

        fetch('/response/', {
            method: 'POST',
            body: formData
        })
        .then(response => response.json())
        .then(data => {
            // Handle the response from the server
            console.log(data);
            
            document.getElementById('imageForm').style.display = 'block';
            document.getElementById('uploadButton').style.display = 'block';
            document.getElementById('loading').style.display = 'none';
            const messages = document.getElementById('messages');
            const userMessage = document.createElement('div');
            const botMessage = document.createElement('div');
            botMessage.textContent = data.response;
            messages.innerHTML = botMessage.innerHTML;
        })
        .catch(error => {
            document.getElementById('loading').style.display = 'none';
            const messages = document.getElementById('messages');
            const userMessage = document.createElement('div');
            const botMessage = document.createElement('div');
            botMessage.textContent = error;
            console.error('Error:', error);
        });
    }
</script>
        
      </header>

    <div class="px-4 py-1 my-1 text-center">
    <h1 class="display-5 fw-bold">Bienvenido</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Este es un proyecto desarrollado en el marco del samsung innovation campus 2023
            para predecir el grado de artritis de rodilla de una radiografía subida como imagen.</p>
        <div class="mb-3">
            <form id="imageForm" enctype="multipart/form-data">
                <input type="file" id="imageInput" accept="image/*" onchange="imageChange()">
                <button type="button" id="uploadButton" class="btn btn-secondary btn-lg px-4 gap-3" onclick="uploadImage()">Enviar</button>
        
            </form>
          </div>
        <div id="imagePreview"></div>
        <div id="loading" class="col-lg-6 mx-auto">
            <img src="{% static 'deploy_app/charge.gif' %}" alt="Loading...">
        </div>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        </div>
    </div>
    </div>

    

    <div class="px-4 py-5 my-5 text-center">
    <div class="col-sm-6 mx-auto">
        <p class="lead mb-4" id="messages"></p>
        
    </div>
    </div>
    
    <div class="container">
        <footer class="py-3 my-4">
          <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Sebastian Gomez</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">German David Luna</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Luis Miguel Ossa</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Maria Paula Monroy</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Marian Carrascal</a></li>
          </ul>
          <p class="text-center text-muted">SIC 2023</p>
        </footer>

      </div>
</body>
</html>

